<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/auth.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="icon" href="/icons/favicon.png" type="image/png" />

    <title>
      <%if (method === 'sign-up'){%> <%= 'Sign Up'%> <%} else if(method ===
      'log-in'){%> <%= 'Log In'%> <%} else if (method === 'membership'){%>
      <%='Membership'%> <%}%>
    </title>
  </head>
  <body>
    <main class="authBg">
      <a class="go-back" href="/">Go Back</a>
      <div class="logo">
        <img src="/icons/logo.svg" alt="logo" />
        <h2>Chirper</h2>
      </div>
      <% if(method !== 'membership'){ %>

      <form
        class="authBlock"
        action="<%= method === 'sign-up' ? '/sign-up' : '/log-in' %>"
        method="POST"
      >
        <h2 class="methodName">
          <%= method === 'sign-up' ? 'Sign Up' : 'Log In'%>
        </h2>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <% if (method === 'sign-up') { %>
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
        />
        <div class="line"></div>
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name" required />
        <label for="first_name">Last name</label>
        <input type="text" name="last_name" id="last_name" required />

        <% } %>

        <input type="submit" value="Submit" />

        <p class="alt">
          <% if (method === 'sign-up') { %> Already registered?
          <a class="alt-link" href="/log-in">Log In.</a>
          <%} else { %> Not registered yet?
          <a class="alt-link" href="/sign-up">Sign Up.</a>

          <% } %>
        </p>
      </form>
      <% } %> <% if(method === 'membership') { %>
      <form class="authBlock" action="/membership" method="POST">
        <label for="secret">Secret</label>
        <input type="text" name="secret" id="secret" />
        <input type="submit" value="Submit" />
      </form>
      <% } %>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
